<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stock Management MVC</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/boostrap.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
