@model HomeViewModel

<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        <label for="searchBy"></label>
        <select asp-for="searchBy">
            <option value="ID">ID</option>
            <option value="Name">Name</option>
            <option value="Brand">Brand</option>
        </select>
        <input asp-for="searchString" type="text" name="searchString" />
        <input type="submit" value="Search" asp-controller="Home" asp-action="Search"/>
    </p>
    


</form>



